body,html
{
    height: 100%;
}

body
{
        background-image: url("../cover-1.jpg");
        position: relative;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        
}

.logo
{
    width: 150%;
}

.sign-up
{
    background: rgba(140, 9, 255, 0.5);
    margin-right: -83.5%;
    height: 100%;
    border-radius: 15px;
    margin-top: 12%;
}

.head
{
    font-family: Hobo std;
}

/*style the labels*/
.label
{
    color: #fff;
    font-weight: bold;
    font-family: Hobo std;
}
/*===============================================================*/

/*style the input*/
.in
{
    background: transparent;
    outline: 0px;
    border-width: 0px 0px 2px;
    border-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    transition: 0.2s;
    width: 90%;
    box-shadow: 0px 5px 0px 0px rgba(182, 182, 182, 0.2);
}
.in:focus
{
    border-color: rgb(0, 255, 0);
    transition: 0.2s;
}
/*=================================================================*/

/*style the button*/
.register
{
    border-radius: 15px;
    margin-top: 10%;
    width: 150px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 0, 0);
    transition: 0.2s;
    padding: 5% 3% 5% 3%;
    font-weight: bold;
}

.register:hover
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
/*=================================================================*/

/*style the paragraph*/
.instead
{
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-family: Hobo std;
    margin-left: 3%;
}

.instead a
{
    color: rgb(255, 255, 255) !important;
}

.instead a:hover
{
    color: rgb(0, 0, 0) !important;
}

@font-face
{
    font-family: "Hobostd";
    src: url("Fonts/Hobostd.otf");
    font-style: normal;
    font-weight: bold;
}
/*=================================================================*/
/*@media screen and (max-width: 600px) 
{
    .col-25, .col-75, .logo 
    {
           font-size: 5vw !important;
    }
}
*/
